/*****************
Latest Update: Apr. 2, 2020
Editor: Wonbeen Kim
Stylesheet Name: commonstyle
*****************/
/***
Division: html
Contents: all
***/

* {
  box-sizing: border-box;
}

/***
Division: body, (html)
Contents: everything in body part
***/
body, html{
  height: 100%;
  width: 100;
}

body{
  background-color: #ffffff;
  /*font-family: 'Nanum Myeongjo';*/
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

/***
Beginning of top division
***/
div.top{
  background-color: white;
  margin-top: 0;
  padding: 15px;
  /*position: fixed;
  width: 100%;
  transform: translateZ(0) translateY(-65%);*/
}

/*top navigation bar*/
.top-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellowgreen;
  font-size: 75%;
  border-radius: 15px;
}

.top-nav li a{
  float: right;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

/*Company title element*/
h1.title{
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

/*Title hyperlink*/
.title a {
  text-decoration: none;
  color: black;
}
/***
End of top division
***/

/***
Beginning of main division
***/
div.main{
  background-color: #333;
  padding: 0;
  text-align: center;
  height: relative;
}

h2{
  text-align: center;
  padding: 15px;
  padding: 0;
  color: white;
}

h3{
  margin-top: 0;
  color: black;
  text-align: center;
}

h5{
  margin-top: 0;
  color: black;
  text-align: center;
}

/*Main Navigation Bar*/

.main-nav a {
  text-decoration: none;
  color: white;
}

.main-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 15px;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition-duration: 0.5s;
}

/*Change the current page's link color to yellowgreen*/
.active {
  background-color: yellowgreen;
}
/*dropdown list menu contents*/
.dropdown-contents{
  display: none;
  list-style-type: none;
  text-decoration: none;
  /*z-index is a layer system of display of contents
  default value for z-index is 0, and as the value
  of a content is higher, the content is displayed on the top of other elements*/
  z-index: 1;
}

/*making dropdown-contents visible when.drop-down menu is hovered*/
.dropdown-menu:hover div.dropdown-contents{
  display: block;
}

div.dropdown-contents a{
  display: block;
  background-color: black;
  transition-duration: 0.2s;
  float: none;
}

div.dropdown-contents a:hover{
  background-color: #333;
  transition-duration: 0.2s;
}
/*End of main division*/

/******
beginning of bottom division
*******/
div.bottom{
  background-color: white;
  margin-top: 1.5%;
}

div.bottom-contents{
  text-align: center;
  padding: 1.5%;
}

.bottom{
  overflow: auto;
  text-align: center;
}

.bottom-contents {
  overflow: auto;
  text-align: center;
  display: flex;
  background-color: #333;
}

.bottom-contents-1{
  flex:1;
  text-align: left;
  margin-left: 10px;
  margin-right:15px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.bottom-contents-2{
  flex:1;
  text-align: left;
  margin-right: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

/*span weight as bold*/
span{
  font-weight: bold;
}

/*bottom company info label*/
#info p{
  margin: 0px 0px;
}

#media p{
  margin-top: 0;
}

/*footer part*/
footer{
  background-color: white;
  text-align: center;
  margin: 15px 0px;
  padding: 5px 0px;
  font-size: 10px;
}
