body{
  background-color: #ffffff;
  font-family: 'Nanum Myeongjo';
  margin: 0;
  width: 100%;
  height: 100%;
}

div.top{
  background-color: white;
  margin-top: 0;
  padding: 15px;
  /*position: fixed;
  width: 100%;
  transform: translateZ(0) translateY(-65%);*/
}

div.main{
  background-color: #333;
  padding: 0;
  text-align: center;
  overflow: auto;
}

div.grid-container{
  /*border: 1px solid white;*/
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 15px;
  grid-template: none;
}

div.grid-item {
  background-color: white;
  text-align: center;
  height: 35vh;
  width: 100%;
  border-radius: 15px;
}

div.bottom{
  background-color: white;
  margin-top: 15px;
}

div.bottom-contents{
  text-align: center;
  padding: 15px;
}

h1.title{
  color: black;
  font-family: 'Nanum Myeongjo';
  text-align: center;
  margin-bottom: 0;
}

h2{
  text-align: center;
  padding: 15px;
  padding: 0;
  color: white;
}

h3{
  margin-top: 0;
  color: black;
  text-align: center;
}

h5{
  margin-top: 0;
  color: black;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
  color: white;
}

.title a {
  text-decoration: none;
  color: black;
}

.main-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: yellowgreen;
}

.dropdown-contents{
  display: none;
  list-style-type: none;
  text-decoration: none;
  position: absolute;
  z-index: 1;
}

.dropdown-menu:hover div.dropdown-contents{
  display: block;
}

div.dropdown-contents a{
  display: block;
  background-color: black;
  float: none;
}

/*bottom part*/
.bottom{
  overflow: auto;
  text-align: center;
}

.bottom-contents {
  overflow: auto;
  text-align: center;
  display: flex;
  background-color: #333;
}

.bottom-contents-1{
  flex:1;
  text-align: left;
  margin-left: 10px;
  margin-right:15px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}
.bottom-contents-2{
  flex:1;
  text-align: left;
  margin-right: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

#media p{
  margin-top: 0;
}

/*footer part*/
footer{
  background-color: white;
  text-align: center;
  margin: 15px 0px;
  padding: 5px 0px;
  font-size: 10px;
}

.top-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: yellowgreen;
  font-size: 75%;
}

.top-nav li a{
  float: right;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

/*span weight as bold*/
span{
  font-weight: bold;
}

/*location label*/
#text p{
  margin: 0px 0px;
}


.grid-container a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*grid-item-edits*/
.brand-name{
  margin: 0;
  padding-left:0;
  padding-right:0;
  padding-top: 15vh;
  color: white;
  font-size: 250%;
  font-weight: bold;
  transition-duration: 0.5s;
}

.grid-item span{
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.grid-item{
  opacity: 0;
}

.grid-item:hover{
  opacity: 1;
}

.grid-item#gi-1{
  background-image: url(images/kodak_logo.png), linear-gradient(black, gray);
  background-size: contain;
}

.grid-item#gi-2{
  background-image: url(images/mlb_logo.png);
  background-size: contain;
}
.grid-item#gi-3{
  background-image: url(images/new_era_logo.png);
  background-size: contain;
}
.grid-item#gi-4{
  background-image: url(images/discovery_logo.png);
  background-size: contain;
}
.grid-item#gi-5{
  background-image: url(images/polham_logo.jpg);
  background-size: contain;
}
.grid-item#gi-6{
  background-image: url(images/puma_logo.png);
  background-size: contain;
}
.grid-item#gi-7{
  background-image: url(images/mistral_logo.jpg);
  background-size: contain;
}
.grid-item#gi-8{
  background-image: url(images/stretch_angels_logo.png);
  background-size: contain;
}

.name-panel#bn0{
  opacity: 1;
}
