div.notification-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 15px;
}

div.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 15px;
}

.notification-item{
  background-color: #ffffff;
  height: 100px;
  margin: 15px 15px;
  border-radius: 25px;
}

.notification-item p{
  padding: 25px 0px;
  color: white;
}

#ni-01{
  background-color: darkred;
}
#ni-02{
  background-color: yellowgreen;
}
#ni-03{
  background-color: darkblue;
}

.grid-container a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

div.grid-item{
  padding: 0px 30%;
  margin: 0% 0% 3% 0%;
  display: grid;
  /*for checking of justification of contents*/
  border: 1px solid white;
}

div.grid-item p {
  width: 200px;
  color: white;
  font-size: 25px;
}

div.shortcut {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50px;
}

div.shortcut:hover p{
  height: 200px;
  width: 200px;
  border-radius: 50px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
}

.shortcut#sc-1{
  background-image: url(images/kodak_logo.png);
  background-size: contain;
}

.shortcut#sc-2{
  background-image: url(images/mlb_logo.jpg);
  background-size: contain;
}
.shortcut#sc-3{
  background-image: url(images/new_era_logo.png);
  background-size: contain;
}
.shortcut#sc-4{
  background-image: url(images/discovery_logo.png);
  background-size: contain;
}
.shortcut#sc-5{
  background-image: url(images/polham_logo.jpg);
  background-size: contain;
}
.shortcut#sc-6{
  background-image: url(images/puma_logo.png);
  background-size: contain;
}
.shortcut#sc-7{
  background-image: url(images/mistral_logo.jpg);
  background-size: contain;
}
.shortcut#sc-8{
  background-image: url(images/stretch_angels_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*rotation animation*/
#{
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
